<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div id="mapId" style="height:40vh">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="locatePosition()">
          <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <ion-item>
      <ion-label position="floating">Search</ion-label>
      <ion-input placeholder="please enter a city name..."></ion-input>
    </ion-item>



    <input type="text" (keyup.enter)=test()>


    <ion-tabs> 
      <ion-tab-bar slot="bottom">
       
        <ion-tab-button tab="cityInfo">
          <ion-icon name="business"></ion-icon>
          <ion-label>City info</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="weather">
          <ion-icon name="sunny"></ion-icon>
          <ion-label>Weather</ion-label>
        </ion-tab-button>

    
        <ion-tab-button tab="airquality">
          <ion-icon name="flower"></ion-icon>
          <ion-label>Air quality</ion-label>
        </ion-tab-button>
    

      </ion-tab-bar>
    </ion-tabs>













  </div>
</ion-content>