<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div id="mapId" style="height:40vh">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="locatePosition()">
          <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <ion-item>
      <ion-label position="floating">Search</ion-label>
      <ion-input placeholder="please enter a city name..."></ion-input>
    </ion-item>



    <ion-segment (ionChange)="segmentChanged($event)">

      <ion-segment-button value="cityinfo">
        <ion-label>information</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="weather">
        <ion-label>Weather</ion-label>
      </ion-segment-button>

      <ion-segment-button value="polluant">
        <ion-label>polluant</ion-label>
      </ion-segment-button>

    </ion-segment>

    <app-cityinfo *ngIf="tabSelect === 'cityinfo'"></app-cityinfo>
    <app-weatherinfo *ngIf="tabSelect === 'weather'"></app-weatherinfo>
    <app-polluantinfo *ngIf="tabSelect === 'polluant'"></app-polluantinfo>











  </div>
</ion-content>